<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:fragment="customerModalSection">
        <div class="modal fade" id="registerCustomerModal" tabindex="-1" aria-labelledby="registerCustomerModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="registerClientForm" action="">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Register Customer</h5>
                            <button type="button" class="btn-close btn-close-white" data-dismiss="modal"
                                aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-txt" for="customerName">First Name</label>
                                        <input class="form-control" id="customerName" type="text" required>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-txt" for="customerLastName">Last Name</label>
                                        <input class="form-control" id="customerLastName" type="text" required>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-txt" for="customerEmail">Email</label>
                                        <input class="form-control" id="customerEmail" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-txt" for="customerPhone">Phone Number</label>
                                        <input class="form-control" id="customerPhone" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-txt" for="customerCountry">Country</label>
                                        <select class="form-control" id="customerCountry" type="text" required>
                                            <option>
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-txt" for="customerCity">City</label>
                                        <select class="form-control" id="customerCity" type="text" required>
                                            <option>
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-txt" for="customerAddress">Address</label>
                                        <input class="form-control" id="customerAddress" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-txt" for="customerPostalCode">Postal Code</label>
                                        <input class="form-control" id="customerPostalCode" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-txt" for="customerStore">Store</label>
                                        <select class="form-control" id="customerStore" type="text" required>
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="btnSubmmit" type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>