.pagination > li > a
{
    background-color: white;
    color: #FFB3B3;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #FFB3B3 !Important;
    border: solid 1px #FFB3B3 !Important;
}

.pagination > .active > a:hover
{
    background-color: #AC7088 !Important;
    border: solid 1px #AC7088;
}