<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div th:replace="layout/header :: estilos"></div>
    <link th:href="@{/css/customer.css}" rel="stylesheet" />
</head>

<body>
    <div th:replace="layout/header :: header"></div>
    <section class="content">
        <div id="tableCard">
            <div id="toolbar">
                <button type="button" class="btn btn-primary" id="btnOpenModalRegisterCustomer" data-toggle="modal"
                    data-target="#registerCustomerModal" data-backdrop="static" data-keyboard="false">
                    Register Customer
                </button>
            </div>

            <table id="example" class="table table-striped" data-toolbar="#toolbar">
            </table>
        </div>
    </section>

    <div th:replace="modals/customerModals :: customerModalSection"></div>

    <div th:replace="layout/header :: scripts"></div>
    <script type="text/javascript" th:src="@{/js/customer.js}"></script>
</body>

</html>